.menu-title {
    font-weight: 600;
    font-size: 32px;
    padding-left: 16px;
    margin-bottom: 16px;
}

.offset {
    padding-top: 50px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 32px;
    width: 75%;
}

.menu-item {
    width: 248px;
    padding: 12px;
    background-color: var(--secondary-light);
    border-radius: 10px;
    border: 1px solid var(--secondary-normal);
    display: flex;
    flex-direction: column;
}

.image-container {
    display: flex;
    justify-content: center;
}

.pizza-image {
    width: 128px;
    height: auto;
    align-self: center;
    margin-bottom: 16px;
}

.cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu-item p {
}

.pizza-name {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 8px;
}

.price {
    font-size: 18px;
    color: var(--secondary-darker);
    font-family: 'Lato', sans-serif;
    margin: 0;
    position: absolute;
    top: 10%;
}

.btn-add {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border: none;
    background-color: var(--primary-normal);
}

.btn-add:hover {
    background-color: var(--primary-normal-hover);
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-container {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

.dialog {
    position: fixed;
    background-color: #feefe0;
    width: 600px;
    height: 600px;
    left: calc(50% - 300px);
    top: calc(50% - 300px);
    border-radius: 20px;
    padding: 50px;
    z-index: 999;
    border: 1px solid var(--secondary-normal)
}

.dialog .image-container img {
    width: 200px;
}

.dialog .pizza-name {
    font-size: 32px;
    margin-bottom: 0;
}

.dialog .pizza-description {
    font-size: 16px;
    font-style: italic;
}

.dialog h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}

.dialog pizza-ingredients {
    font-size: 16px;
}

.dialog-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.dialog .price {
    position: relative;
    font-size: 36px;
}

.dialog .btn-add {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

.dialog .btn-add img {
    width: 32px;
}