.sidebar {
    position: fixed;
    top: 60px;
    right: -250px;
    width: 250px;
    height: calc(100% - 60px);
    background-color: var(--secondary-lighter);
    transition: all 0.4s ease;
    z-index: 999;
    border-left: 1px solid var(--primary-darker);
    display: flex;
    flex-direction: column;
}

.sidebar.open {
    right: 0;
}

.links {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.spacer {
    flex-grow: 1;
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    padding: 24px 16px;
    background-color: var(--secondary-lighter);
    border-bottom: 1px solid var(--secondary-light);
    color: var(--primary-darker);
    font-size: 22px;
}

.links li:hover {
    background-color: var(--secondary-normal-hover);
    color: var(--secondary-light);
    cursor: pointer;
    transition: 0.1s;
}

.sidebar-icon {
    padding-right: 16px;
    height: 22px;
    width: auto;
}
