.payment-method-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.payment-method-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.payment-method-options {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.payment-method-options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
  
  .ok-button {
    background-color: #f57c00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  