.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid var(--primary-darker);
}

.pageTitle {
    font-family: 'Playfair Display', sans-serif;
    font-size: 36px;
    font-weight: 700;
    padding-left: 16px;
    cursor: pointer;
}

.footer-icon {
    display: flex;
    align-items: center;
}

.icon {
    height: 36px;
    transform: scaleX(-1);
    color: black;
    margin-left: 48px;
    transition: all 0.3s ease;
}

.icon:hover {
    color: var(--primary-normal-hover);
    cursor: pointer;
}

.cart-icon:hover {
    rotate: 8deg;
}

.icon-container {
    margin-right: 16px;
}

.wrapper {
    position: relative;
    z-index: 1000;
}
